<h2>Casting Totals -- ONLY MOCAP --</h2>

<h5>Technique:
<p-dropdown
    [options]="lang"
    [(ngModel)]="selectedTech"
    placeholder="Tech"
    optionLabel="value"
    >
</p-dropdown>
</h5>

<h5>Form:
<p-dropdown
    [options]="lang"
    [(ngModel)]="selectedForm"
    placeholder="Form"
    optionLabel="value"
    >
</p-dropdown>
</h5>

<h5>Aura:
<p-dropdown
    [options]="[0,1,2,3,4]"
    placeholder="Aura"
    [(ngModel)]="selectedAura"
    >
</p-dropdown>
</h5>

<div>
<h5>Casting Score:
  {{selectedTech.value}}
  +
  {{selectedForm.value}}

  {{ initStamina() && staminaScore < 0 ? "- " + staminaScore : "+ " + staminaScore }}

    +
    {{selectedAura}}
    =
    {{ calcCastingScore() }}
</h5>

<h5>Fatigue Sponting:
  ({{ castingScore }} + /r 1d10) / 2
</h5>
</div>

